@charset "utf-8";

html {
    font-size: 62.5%;
}


body {
  background-color: #000;
}


.icon_wrapper {
  display: flex;
  position: fixed;
  margin: 80px 0 0 80px;
  color: #fff;
  font-size: 20px;
}

i {
  margin: 5px;
}



.video_bg {
  display: ;
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
}

.video {
  margin: 50px 0 200px 300px;

}

.logo {
  position: relative;
  position: fixed;
  margin: 550px 100px 0 10px;

}

.title {
  left: 400px;
  position: fixed;
}

.copyright {
  color: #fff;
  top: 0

}